language: php

php:
  - 5.3.2
  - 5.3
  - 5.4

branches:
  only:
    - master
    - travis

before_script:
  - sh .travis.sh
  - wget -nc http://getcomposer.org/composer.phar
  - php composer.phar install --install-suggests --prefer-source

script: phpunit --coverage-text
